.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 17px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    z-index: 200;
}

.popup_open {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s;
}

.popup_content {
    position: relative;
    padding: 94px 74px 0 55px;
    width: 777px;
    height: 708px;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-align: center;
}

.popup_header {
    margin-bottom: 60px;
}

.popup_insert_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
}

.popup_title {
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 4PX;
}

.insert_data {
    border: 0;
    border-bottom: 1px solid;
    width: 100%;
    font-size: 25px;
    line-height: 34px;
    opacity: 0.5;    
}

.insert_data:active,:focus {
    outline: 0;
    outline-offset: 0;
    opacity: 1;
}

.popup_confirm_btn {
    width: 100%;
    height: 67px;
    display:inline-block;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 27px;
    text-align:center;
    border-radius: 5px;
    border-width: 1px;
    border-color: #AD1818;
    color: white;
    cursor: pointer;
    background-color: #AD1818;
    
}

.popup_close_btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 32px;
    right: 34px;
    font-size: 20px;
    background-image: url('../resources/radix-icons_cross-2.jpg');
    cursor: pointer;
}

@media (max-width: 1024px) {
    .popup {
        padding: 0 17px 0 15px;
    }
    
    .popup_content {
        height: 640px;
    }
}

@media (max-width: 960px) {
    .popup {
        padding: 0 17px 0 15px;
    }
}

@media (max-width: 520px) {
    .popup {
        padding: 0 7px 0 7px;
    }

    .popup_content {
        padding: 80px 24px 0 16px;
        width: 100%;
        height: 611px;
    }

    .popup_header {
        margin-bottom: 70px;
    }
    
    .popup_insert_data {
        gap: 40px;
        margin-bottom: 60px;
    }
    
    .popup_title {
        font-size: 25px;
        line-height: 34px;
    }

    .popup_description{
        max-width: 204px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 19px;
    }
    
    .insert_data {
        font-size: 18px;
        line-height: 25px;
    }
    
    .popup_close_btn {
        width: 30px;
        height: 30px;
        top: 40px;
        right: 22px;
        font-size: 20px;
        background-size: contain;
    }
    
}