html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
}

h1,
h2,
h3,
a,
p,
div {
    letter-spacing: -0.03em;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    color: #121212;
}

h2 {
    font-size: 18px;
    line-height: 25px;
    color: #121212;
}

h3 {
    font-size: 30px;
    line-height: 41px;
    color: #121212;
}

p {
    font-size: 20px;
    line-height: 27px;
}

section {
    padding: 150px 0 0 0;
    margin: 0 auto;
}

header {
    padding: 33px 125px 70px 125px;
    width: 1400px;
    margin: 0 auto;
}

nav {
    display: block;
    margin: 0 auto;
    float: right;
}


.logo {
    display: block;
    width: 127px;
    height: 22px;
}

.logo-link {
    display: inline-block;
    text-align: center;
}

.nav__link {
    color: #121212;
    text-decoration: none;
    margin-left: 60px;
    font-size: 18px;
    line-height: 25px;
}

.nav__link:hover {
    border-bottom: 1px solid #121212;
    opacity: 0.5;
}

.nav__link_active {
    border-bottom: 1px solid #121212;
}

.title-box {
    padding: 0 125px 0 125px;
    max-width: 1400px;
}

.title-container-text {
    max-width: 956px;
    margin-bottom: 30px;
}

.mainview_chair {
    height: 500px;
    max-width: 1150px;
    background-image:
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), 
        url('../resources/mainview_chair.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    position: relative;
}


.mainview_chair_text_wrapper p {
    position: absolute;
    display: block;
    bottom: 40px;
    left: 40px;
    max-width: 430px;
    color:#FFFFFF;   
}

.about_us_container {
    max-width: 1400px;
    height: 518px;
    padding: 0px 125px 0 125px;
    margin: 0 auto;
}

.about_us_title {
    margin-bottom: 30px;
}

.about_us_text {
    max-width: 1048px;
    min-height: 366px;
    margin-left: 3px;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 61px;
    text-align: left;
    box-sizing: border-box;
}

.btn {
    display: block;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    width: 255px;
    height: 67px;
    line-height: 27px;
    letter-spacing: -0.03em;
    text-align:center;
    border-radius: 5px;
    border-width: 1px;

    border-color: #AD1818;
    color: white;
    cursor: pointer;
    background-color: #AD1818;

}

.btn:hover {
    color: #AD1818;
    border: 1px solid #AD1818 ;
    background-color: white;
}

.projects_container {
    padding: 0px 125px 0 125px;
    max-width: 1400px;
    height: 2122px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.projects_title {
    margin-left: -10px;
    margin-bottom: 30px;
}

.project {
    height: 548px;
    margin-bottom: 90px;
}

.project img {
    object-fit: cover;
    object-position: 50% 98%;
    width: 100%;
    max-height: 450px;
    margin-bottom: 15px;
}

.project:nth-child(3) img {
    object-position: 50% 51%;
}

.project:nth-child(4) img {
    object-position: 50% 49%;
}

.project__name {
    margin-bottom: 15px;
}

.project__more-info {
    color: #AD1818;
    text-decoration: none;
}

.all-projects {
    display:block;
    width: 100%;
    height: 153px;
    font-size: 30px;
    line-height: 153px;
    text-align: center;

    border: 1px solid #AD1818;
    border-radius: 5px;
    text-decoration: none;
    background-color: #FFFFFF;
    color: #AD1818;
}

.all-projects:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

.section-black {
    width: 100%;
    padding-bottom: 150px;
    background-color: #121212;
}

.services_container {
    max-width: 1400px;
    padding: 0px 125px 0 125px;
    margin: 0 auto;
}

.services_title {
    margin-bottom: 30px;
    color: #FFFFFF;
}

.services_flexbox {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    row-gap: 85px;
}

.service {
    position: relative;
    width: calc(50% - 5.5px);
    height: 455px;
}

.service img {
    object-fit: cover;
    width: 100%;
    min-height: 379px;

}

.service_price {
    position: absolute;    
    display:flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    left: 30px;
    padding: 5px 20px 5px 22px;
    max-width: max-content;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    background-color: #AD1818;
    border-radius: 5px;
}

.service_name {
    margin-top: 25px;
    color: #FFFFFF;
}

.service_order_btn {
    display:inline-block;
    font-family: 'Manrope', sans-serif;
    width: 100%;
    height: 153px;
    margin-top: 106px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    text-align:center;
    border-radius: 5px;
    border-width: 1px;
    border-color: #AD1818;
    color: white;
    cursor: pointer;
    background-color: #AD1818;

}

.feedback_container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 150px 150px;
}

.feedback_title {
    margin-bottom: 30px;
}

.feedback_case_name {
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 14px;
}

.feedback_comment {
    font-size: 22px;
    line-height: 30px;
}

.wide_size {
    max-width: 861px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.col {
    width: calc(50% - 25.5px);
}

.example-tworoom-flat {
    width: 100%;
    height: 717px;
    padding: 0;
    background-image:url('../resources/projects/bedroom_project.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45%;
}

.example-tworoom-flat-text-box {
    position: relative;
    width: 1400px;
    height: 717px;
    margin: 0 auto;
}

.example-tworoom-flat-text h3 {
    width: 443px;
    height: 82px;
    color:#FFFFFF; 
    position: absolute;
    bottom: 60px;
    left: 125px; 
    
}

.contacts {
    width: 1400px;
    padding: 150px 125px 0 125px;
    margin-bottom: 160px;
}

.contacts::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: 12px;
    margin-left: -5px;
    background-image: url("/resources/ic_outline-phone-iphone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contacts-title {
    margin-bottom: 32px;
}

.phone-number-box {
    margin-bottom: 32px;
}

.contacts-phone-number {
    font-size: 60px;
    line-height: 60px;
    text-decoration: none;
    color: #000;
}

.contacts-phone-number:hover  {
    opacity: 0.5;
}

.contacts-email_link {
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    text-decoration: none;
}

.contacts-email_link:hover {
    border-bottom: 2px solid #121212;
    opacity: 0.5;
}

.section-footer {
    padding: 60px 0 30px 0;
    background-color: #121212;
}

.footer-ref-box {
    width: 460px;
    margin: 0 auto;
    padding-bottom: 87px;
}

.footer-ref {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-right: 55px;
    text-decoration: none;
}

.footer-ref:hover {
    opacity: 0.5;
}

.footer-ref:nth-last-child(1) {
    margin-right: 0;
}

.footer-design-by {
    width: 100%;
    margin: 0 auto;
}

.footer-design-by-text {
    font-size: 20px;
    line-height: 27px;
    opacity: 0.5;
    color: #FFFFFF;
    text-align: center;
}